<html>
<head>
    <title>Your Account Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}" />
</head>
<body>
    <!-- titlebar -->
    <div class="titlebar_global">LearningLab - Account Info</div>

    <!-- navigation bar -->
    <div class="navigationbar_global">Home > Student Portal > Account Info </div>
    
