<html>
<head>
    <title>:::: LearningLab Homepage ::::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/sysstat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}" />
</head>
<body>
    <!-- title bar -->
    <div class="titlebar_global"><center>Account Info</center></div>

    <!-- navigation bar -->
    <div class="navigationbar_global">
        <a class="navigationtext" href="{% url 'home:student' %}">Student Home</a> >
        <a class="navigationtext" href="">Account Info</a>
    </div>

    <!-- main content -->
    <div class="content_global">
        <h2><center>Account Info</center></h2>

        <!-- account info -->
        <div class="reportbox">
            <!-- <div class="hline-heavy"></div> -->

            <h3 class="report">Personal Identification Info</h3>
            <li>ID: {{ user_id }} </li>
            <li>Name (Korean): {{name_korean}} </li>
            <li>Name (English): {{name_english}} </li>
            <li>Group: {{group_num}} </li>
            <br>
            <!-- <a class="inline-link" href="{% url 'home:student_change_password' %}"
            style="display: flex; margin: 5px 30%; width: auto;">Change Password</a> -->
        </div>
    </div>


    <!-- <center>안녕하새오 기계공학부 3학년이애오 <br> CSS 3일 배우고 만들엇어오 귀엽게 봐주새오 :) </center> -->


</body>
</html>
