<html>
<head>
    <title>:::: LearningLab Homepage ::::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stats/stats.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}" />
</head>
<body>
    <!-- title bar -->
    <div class="titlebar_global"><center>Statistics</center></div>

    <!-- navigation bar -->
    <div class="navigationbar_global">
        <a href="{% url 'home:faculty' %}">Faculty Home</a> > Stats
    </div>

    <!-- main content -->
    <div class="content_global">
        <!-- currently active probelm window -->
        <div align="center">
            <span class="activewindow">
                Currently Active<br>[{{ active_question_text }}]
                {% if question_state == 1 %}
                    <br>(First Vote)
                {% elif question_state == 2 %}
                    <br>(Second Vote)
                {% endif %}
            </span>
        </div>

        <table style="width: 90%; margin: 20px 5%; text-align: center; border: 1px solid black;">
            <tr style="height: 20px;">
                <th style="border: 1px solid black; height: 30px;">Iteration</th>
                {% for num in first_vote %}
                    <th style="border: 1px solid black; height: 30px;">Choice {{forloop.counter}}</th>
                {% endfor %}
            </tr>
            <tr style="height: 40px;">
                <td style="border: 1px solid black; width: 150px">First Vote</td>
                {% for num in first_vote %}
                    <td style="border: 1px solid black;">{{ num }}</td>
                {% endfor %}
            </tr>
            <tr style="height: 40px;">
                <td style="border: 1px solid black; width: 150px">Second Vote</td>
                {% for num in second_vote %}
                    <td style="border: 1px solid black;">{{ num }}</td>
                {% endfor %}
            </tr>
        </table>
        <img class="barplot" src={{fig_path}} alt="plot unavailable"> <br>
    </div>


</body>
</html>
