<html>
<head>
    <title>Select Date and Class</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}">
</head>
<body>
    <!-- title bar -->
    <div class="titlebar_global"><center>Select Date and Class</center></div>

    <!-- navigation bar -->
    <div class="navigationbar_global">
        <a href="{% url 'home:faculty' %}">Faculty Home</a> >
        <a href="">Select Date and Class</a>
    </div>

    <!-- main contents -->
    <div class="content_global" style="display: block;">
        <center>Welcome, {{instructor_name}} !<br>
        You're logged in as a faculty member.</center> <br>
        <form action="{% url 'stats:select_date_handler' %}" method="post">
            <div style="display: flex; flex-direction: row; margin: 0px 10%;
            width: auto; height: 100px; font-size: 20px; align-items: center;">
                <div style="width: 30%; height: auto;">
                    {% csrf_token %}
                    Year:
                    <select class="dropbox" name="year" style="width: 150px;">
                        {% for year in year_range %}
                            <option value="{{ year }}">{{ year }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width: 40%; height: auto;">
                    Month:
                    <select class="dropbox" name="month" style="width: 150px;">
                        {% for month in month_range %}
                            <option value="{{ month }}">{{ month }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width: 30%; height: auto;">
                    Day:
                    <select class="dropbox" name="day" style="width: 150px;">
                        {% for day in day_range %}
                            <option value="{{ day }}">{{ day }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div> <button class="logoutbox_global" type="submit">Select!</button> </div>
        </form>
    </div>

    <!-- logout box -->
    <!-- <a class="logoutbox_global" href="{% url 'home:logout' %}">Select!</a> -->

</body>
</html>
