<html>
<head>
    <title>:::: LearningLab Homepage ::::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/sysstat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}" />
</head>
<body>
    <!-- title bar -->
    <div class="titlebar_global"><center>Password Error!</center></div>

    <!-- navigation bar -->
    <div class="navigationbar_global">
        <a href="{% url 'home:student' %}">Student Home</a> >
        <a href="{% url 'home:student_accountinfo' %}">Account Info</a> >
        Password Error
    </div>

    <!-- main content -->
    <div class="content_global">
        Successfully changed your password. <br>
        <a href="{% url 'home:student' %}">Go to Home</a>
    </div>


    <center>안녕하새오 기계공학부 3학년이애오 <br> CSS 3일 배우고 만들엇어오 귀엽게 봐주새오 :) </center>


</body>
</html>
