<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Switch</title>
    {% load static %}
    {% load questionmonitor_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'questionmonitor/questionmonitor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/global.css' %}">
</head>
<body>
    <div class="titlebar_global"><center>Type question number...</center></div>
    <div class="navigationbar_global">
        <a href="{% url 'home:faculty' %}">Faculty Home</a> >
        <a href="{% url 'questionmonitor:index' %}">Question Management</a>
         > Lecture {{lecture_num}}
    </div>
    <div class="content_global">
        You can activate or deactivate problems here.

        <!-- spacer -->
        <div style="height: 30px;"> </div>

        <!-- currently active probelm window -->
        <div align="center">
            <a class="activewindow" href="{{active_question_link}}">
                Currently Active<br>[{{ active_question_text }}]
                {% if question_state == 1 %}
                    <br>(First Vote)
                {% elif question_state == 2 %}
                    <br>(Second Vote)
                {% endif %}
            </a>
        </div>

        <!-- spacer -->
        <div style="height: 30px;"> </div>

        <!-- kill switch -->
        <div style="display: flex; justify-content: center;">
            <a class="button-deactivate" href="{% url 'questionmonitor:killswitch' %}">Deactivate</a>
        </div>

        <!-- spacer -->
        <div style="height: 30px;"> </div>

        <!-- lecture list -->
        <div style="height: auto; width: 100%, display: flex; flex-direction: row;" align="center">
            <!-- <table style="width: 100%; text-align: center;" align="center">
                {% }
                <tr>
                    <td><a class="questionbutton-new" href="">abc</a></td>
                    <td><a class="questionbutton-new" href="">abc</a></td>
                    <td><a class="questionbutton-new" href="">abc</a></td>
                    <td><a class="questionbutton-new" href="">abc</a></td>
                </tr>
            </table> -->
            {% for question_num, response_exists in question_info %}
                {% if response_exists %}
                    <a class="questionbutton-visited" href="/voting/questionmonitor/{{question_num}}/state/">{{question_num}}</a>
                {% else %}
                    <a class="questionbutton-new" href="/voting/questionmonitor/{{question_num}}/state/">{{question_num}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
